---
import AccesoriesSection from "../components/AccesoriesSection.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Model3Section from "../components/Model3Section.astro";
import ModelSSection from "../components/ModelSSection.astro";
import ModelXSection from "../components/ModelXSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
import SolarPannelsSection from "../components/SolarPannelsSection.astro";
import SolarRoofSection from "../components/SolarRoofSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro | TESLA">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Model3Section />
    </div>
    <div class="snap-center">
      <ModelYSection />
    </div>
    <div class="snap-center">
      <ModelSSection />
    </div>
    <div class="snap-center">
      <ModelXSection />
    </div>
    <div class="snap-center">
      <SolarPannelsSection />
    </div>
    <div class="snap-center">
      <SolarRoofSection />
    </div>
    <div class="snap-center">
      <AccesoriesSection />
    </div>

  </main>
</Layout>
