<section
  id="powerwall"
  class="landing-section h-screen w-screen relative bg-black overflow-hidden text-center"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-current pt-40 text-[40px] font-medium">Accesories</h2>
    </header>

    <footer class="flex flex-col flex-grow justify-end text-current pb-24">
      <div>
        <a
          class="border-[3px] border-black text-white text-sm rounded px-24 py-2 inline-block hover:bg-white hover:text-black transition-colors bg-black backdrop-blur-sm"
          href="#">Shop Now</a
        >
        <div class="text-gray-500 flex gap-4 mt-20 justify-center">
            <a href="#"> Tesla © 2023</a>
            <a href="#">Privacy & Legal</a>
            <a href="#">Vehicle</a>
            <a href="#">Recalls</a>
            <a href="#">Contact</a>
            <a href="#">News</a>
            <a href="#">Get</a>
            <a href="#">Updates</a>
            <a href="#">Locations</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full z-10">
    <img
      class="object-cover h-full w-screen"
      src="/Accesories.avif"
      alt="Accsesories"
    />
  </div>
</section>
