<section
  class="landing-section h-screen w-screen relative bg-black overflow-hidden text-center"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">Experience Tesla</h2>
      <p class="text-white text-sm">Schedule a Demo Drive Today</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end text-white pb-24">
      <div>
        <a
          class="border-[3px] border-white text-sm rounded px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors bg-white/5 backdrop-blur-sm"
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full z-10">
    <video class="object-cover h-full w-screen" src="/video.webm" autoplay loop></video>
  </div>
</section>
