<section
id="model-s"
class="landing-section h-screen w-screen relative bg-black overflow-hidden text-center"
data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-current pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-current text-sm underline">View Inventory</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end text-white pb-24">
      <div class="flex gap-x-4 justify-center">
        <a
          class="border-[3px] bg-gray-800 border-gray-800 text-sm rounded px-12 py-2 inline-block hover:underline"
          href="#">Order Now</a
        >
        <a
          class="border-[3px] text-black border-white bg-white text-sm rounded px-12 py-2 inline-block hover:underline"
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full z-10">
    <img class="object-cover h-full w-screen" src="/ModelS.avif" alt="model-S" />
  </div>
</section>
